body{
    margin: 0;
    padding: 0;
}
/*start navbar*/
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 3;
}
.navbar > a{
    font-weight: bolder;
    font-size: large;
}


@media(max-width : 991px){
    .navbar-nav {
        background-color: white;
        padding-left: 1%
    }
    
    .navbar .collapse a{
        color: black !important
    }
    .navbar .collapse a:hover{
        color: blue !important;
    }
}

/*end navbar*/




/*start main section*/


.main{
    width: 100%;
    height: 600px;
    background: rgb(2,0,36);
    background-image: url(../images/main.jpg);
    color: white;
    display: flex
}
.main .container{
    display: flex;
    align-items: center;
    animation-name: fadeleft;
    animation-duration: 2s
        
}
.main .txt{
    float: left;
}
.main .txt button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    text-transform: capitalize;
    padding: 9px 15px;
    transition: all .3s ease-in-out
}
.main .txt button:hover{
    background-color: white;
    color: #27316e
}
.main .txt h3{
    font-size: 2.2rem;
    font-weight: bolder;
    margin-bottom: 1rem
}
.main .img{
    margin-left: auto;
    position: relative;
}
.main .img img:last-of-type{
    position: absolute;
    top: -18%;
    right: 30%;
}
.main .img img:first-of-type{

}
.main .img img{
    border-radius: 22px;
    box-shadow: 4px 4px #9fa1a4

}
@media(max-width:800px){
    .main .txt {
        padding-right: 3rem
    }
    .main .container{
        animation: none
    }
}
@media(max-width:576px){
    .main{
        height: 700px;
    }
    
    .main .container{
        display: grid;
        grid-column: auto;
        align-items: center;
        
    }
    .main .txt {
        text-align: center;
        padding-right: 0;
        margin-top: 20%;
        margin-bottom: 30%
    }
    .main .img{
        margin-right: 20%
    }
  
}

@keyframes fadeleft{
    from{
        padding-right: 100%
    }
    to{
        padding-left: 15px;
        padding-right: 15px
    }
}

/*end main sectoin*/


/*start profits section*/

.profits{
    margin-top: 200px;
    margin-bottom: 50px;
    opacity: .1;
    transition: all 1.1s ease
}
.carousel h2, .profits .text{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 3rem;
}
.profits .text h4{
    font-size: 3rem
}
.profits .row >div{
}
.profits .row >div >div {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    font-size: 1.9rem;
    width: 5rem;
    color: white;
    height: 5rem;
    border-radius: 50%;
    box-shadow: 0 1.5rem 1.5rem -1.5rem black;
}
.profits .row >div >div i{
    margin-top: 26px
}

.profits .row h4{
    color: #000000;
    margin-bottom: 1.4rem;
    margin-top: 1.4rem
}
.profits .row p{
    color: #567894
}
@media(max-width:576px){
    .profits{
        margin-top: 90px;
        opacity: 1
    }   
    
}
/*end profits section*/

/*start steps section*/

.steps{
    margin-top: 3rem;
    margin-bottom: 3rem
}
.steps .row div{
	padding: 2rem;
	padding-bottom: 0;
    box-shadow: .1rem .1rem .4rem rgba(0,0,0,.5)
}
@media (max-width: 768px){
    .steps .row div{
		margin-bottom: 3rem 
	}
}
/*end steps section*/

/*start advantages section*/

.adv .container .row{
	margin-top: 5rem;
	display: flex;
}
.adv .txt{
	width: 50%;
	align-self: center
}
.adv img{
	margin-right: -180px;
	transition: all 1s ease-in-out
}
@media(max-width: 768px){
	.adv .container .row{
		margin-top: 5rem;
		display: block;
		text-align: center
	}
	.adv .txt{
		width: 100%
	}
	.adv img{
		margin-top: 3rem;
		margin-right: 0
	}
	.adv img{
		margin: 		
	}
}

.lastimg{
	margin-left: -180px;
}





/*end advantaes section*/

/*start carousel section*/
.carousel{
	margin-top: 5rem;
	margin-bottom: 5rem
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
	display: block
}
.owl-carousel .owl-dots button{
	height: 8px;
	width: 8px;
	background-color: rgba(8,29,134,1);
	margin-left: 2rem
}
.owl-carousel .owl-nav.disabled{
	display: none
}
.owl-carousel .owl-item{
	margin-bottom: 5rem;
	width: 300px
}
.owl-item .card{
	border: none
}
.owl-item .font {
	color: #ff8803;
	margin-bottom: 1.3rem
} 
.owl-item h2{
	margin-bottom: 1.3rem !important
}
.owl-item .card p{
	width: 50%;
	margin-bottom: 3rem !important 
}
.owl-item img{
	width: 70px !important;
	height: 70px;
	border-radius: 50%
}
/*end carousel section*/

/*start platform section*/

.platform{
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	height: 300px;
}
.platform .container{
	height: 100%; 
  	display: flex;
  	align-items: center;
}
.platform .container h3{
	color: white;
	font-size: 3rem;
	width: 50%
}
.platform button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    text-transform: capitalize;
    padding: 9px 15px;
	border-radius: 7px;
    transition: all .3s ease-in-out
}
.platform button:hover{
    background-color: white;
    color: #27316e
}
@media(max-width:576px){
	
	.platform .container{
		display: grid;
	}
	
	.platform .container h3{
		width: 100%;
		text-align: center
	}
	.platform .plats{
		margin: 0 auto
	}
}
/*end platform section*/

/*start footer section*/

footer{
	color: black;
	padding-bottom: 5rem
}
footer .row h4{
	margin-bottom: 3rem
}
footer .links div{
	font-size: 1.5rem;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	float: left;
	background-color: #f8f9fa;
	color: black;
	margin-right: .7rem;
	cursor: pointer
}
footer .links div:hover{
	color: white;
	background-color: #27316e
}
footer .links div i{
	margin-left: 12px;
	margin-top: 12px
}
footer ul li{
	cursor: pointer;
	margin-bottom: 1rem;
	text-transform: capitalize
}
footer ul li:hover{
	text-decoration: underline
}
/*end footer section*/







